@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(assets/stacked-waves-haikei.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1440px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    height: 40px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: 400;
}

a:hover {
    color: #191825;
    text-decoration: overline;
    text-decoration-thickness: 5px;
}

h1 {
    color: white;
}

p {
    color: #191825;
}

main {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img {
    width: 350px;
}

.text {
    width: 25%;
}
@media (max-width: 425px) {
    ul {
        flex-direction: column;
        gap: 20px;
        height: unset;
    }

    main {
        flex-direction: column;
    }

    .text {
        width: 95%;
        text-align: center;
    }
}