* {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    background-color: aquamarine;
    height: 40px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

main {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img {
    width: 350px;
}

@media (max-width: 425px) {
    ul {
        flex-direction: column;
        gap: 20px;
        height: unset;
    }

    main {
        flex-direction: column;
    }
}